// Colors
$main: #322E45;
$main-light: #656374;
$title-color: #322E45;
$white: #fff;
$orange: #E94921;
$blue: #252E79;
$bg-color: #E5E5E5;

// Fonts
$font-family: 'Inter', sans-serif;

// Font-weights
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$extrabold: 800;
$black: 900;

 // Containers
// :root { 
//   --content-width: 1330px;
//   --content-fluid-width: 1790px;
//   --container-offset: 15px;
//   --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
//   --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
// }
